body {
  margin: 0;
  font-family: roboto, Sans-Serif;
  height: 200vh;
}
.header_section {
  background-color: #1f2937;
}
.header {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0 120px;
}
.under_logo {
  margin-top: 80px;
  display: flex;
}
.header_content {
  width: 460px;
  margin-right: 70px;
}
.header_links {
  display: flex;
}
.header_links a {
  margin-right: 20px;
  cursor: pointer;
  transition: 0.25s;
}
.header_links a:hover {
  color: hsl(216, 7%, 55%);
}
#header_logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
  margin-right: 580px;
}
.header p,
.header a {
  color: hsl(216, 7%, 71%);
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 10px;
  line-height: 20px;
}
.header h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
  margin-bottom: 0;
}
.image {
  margin-top: 30px;
}
.image p {
  width: 580px;
  height: 230px;
  background: #6d747d;
  display: flex;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}
button {
  background-color: hsl(217, 91%, 59%);
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  padding: 8px 30px;
  cursor: pointer;
  transition: 0.25s;
}
button:hover {
  background-color: hsl(217, 91%, 45%);
}
.information {
  margin: auto;
  max-width: 900px;
}
.information h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  margin: 50px 0;
}
.illustration_container {
  display: flex;
  justify-content: space-between;
}
.illustration p {
  width: 170px;
  text-align: center;
}
.illustration div {
  width: 170px;
  height: 170px;
  border: solid 5px hsl(217, 91%, 59%);
  border-radius: 15px;
}
.quote_section {
  background-color: #e5e7eb;
  margin-top: 100px;
  padding: 80px 0;
}
.quote {
  margin: auto;
  max-width: 850px;
}
#quote_content {
  font-size: 36px;
  font-family: light;
  font-style: italic;
  color: #1f2937;
  margin: 0;
  width: 780px;
}
.quote_author {
  font-size: 20px;
  text-align: end;
  font-weight: 700;
  margin: 0 100px 0 0;
}
