body {
  margin: 0;
  font-family: roboto, Sans-Serif;
  height: 200vh;
}
.header_color {
  background-color: #1f2937;
}
.header {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0 120px;
}
.under_logo {
  margin-top: 80px;
  display: flex;
}
.header_content {
  width: 490px;
  margin-right: 70px;
}
.header_links {
  display: flex;
}
.header_links a {
  margin-right: 20px;
  cursor: pointer;
  transition: 0.25s;
}
.header_links a:hover {
  color: hsl(216, 7%, 55%);
}
#header_logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  margin-right: 580px;
}
.header p,
.header a {
  color: hsl(216, 7%, 71%);
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 10px;
  line-height: 20px;
}
.header h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 0;
}
.image {
  margin-top: 30px;
}
.image p {
  width: 580px;
  height: 230px;
  background: #6d747d;
  display: flex;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}
button {
  background-color: hsl(217, 91%, 59%);
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  padding: 8px 30px;
  cursor: pointer;
  transition: 0.25s;
}
button:hover {
  background-color: hsl(217, 91%, 45%);
}
